<ion-header>
    <ion-toolbar>
        <ion-title>Workout Session</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-exercise-list *ngIf="workout?.exercises.length > 0"
                       [exercises]="workout?.exercises"
                       [editable]="true"
                       (remove)="removeExercise($event)">
    </app-exercise-list>

    <ion-item>
        <ion-input [(ngModel)]="exerciseInput" (keyup.enter)="addExercise()"></ion-input>
        <ion-icon slot="end" name="add-circle" (click)="addExercise()"></ion-icon>
    </ion-item>

    <ion-button (click)="finishWorkout()">Finish</ion-button>
</ion-content>
