<ion-header>
  <ion-toolbar>
    <ion-title>Workout {{workout.id}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-exercise-list [exercises]="workout?.exercises">
  </app-exercise-list>
</ion-content>
