<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="workout">
            <ion-icon name="barbell"></ion-icon>
            <ion-label>Workout</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab2">
            <ion-icon name="ellipse"></ion-icon>
            <ion-label>Tab 2</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>
