<ion-list>
    <ion-reorder-group (ionItemReorder)="reorder($event)" [disabled]="!editable">
        <ion-item *ngFor="let exercise of sortedExercises">
            <ion-reorder slot="start">
                <ion-icon name="menu-outline"></ion-icon>
            </ion-reorder>
            <ion-label>{{exercise.name}}</ion-label>
            <ion-icon *ngIf="editable" slot="end"
                      name="remove-circle" class="delete-icon"
                      (click)="remove.emit(exercise)">
            </ion-icon>
        </ion-item>
    </ion-reorder-group>
</ion-list>
