<ion-header>
    <ion-toolbar>
        <ion-title>Workout</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button routerLink="session">Start Workout</ion-button>

    <ion-list *ngIf="workouts | async as workouts">
        <ion-item *ngFor="let workout of workouts">
            <ion-label appLink="view" [state]="{workout: workout}">
                Workout #{{workout.id}} {{workout.finishDate | date:'shortDate'}}
            </ion-label>
            <ion-icon slot="end" name="remove-circle" (click)="deleteWorkout(workout)"></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>
